.skin-black-light .wrapper > .main-header {
    border-top: 6px solid #3c8dbc;
}

.main-sidebar, .fixed .content-wrapper, .fixed .right-side {
    padding-top: 56px;
}

.cursor-pointer {
    cursor: pointer;
}

#tinymce {
    padding-top: 20px;
}

.display_inline-block {
    display: inline-block;
}

.mr-10 {
    margin-right: 10px;
}

.mr-20 {
    margin-right: 20px;
}

.ml-10 {
    margin-left: 10px;
}

.ml-20 {
    margin-left: 20px;
}

.form-group.has-success .help-block {
    margin:0;
}

.form-group.has-error .help-block {
    margin-bottom: 0;
}

img {
    max-width: 100%;
}

.mce-panel {
    -webkit-box-shadow: none !important;
    -moz-box-shadow: none !important;
    box-shadow: none !important;
    border-color: #d2d6de !important;
}

/* select2 */
.select2-container .select2-selection--single .select2-selection__rendered {
    margin-top: 0;
}