.skin-black-light .wrapper > .main-header {
    border-top: 6px solid #3c8dbc;
}

.main-sidebar, .fixed .content-wrapper, .fixed .right-side {
    padding-top: 56px;
}

.cursor-pointer {
    cursor: pointer;
}

#tinymce {
    padding-top: 20px;
}

.display_inline-block {
    display: inline-block;
}

.mr-10 {
    margin-right: 10px;
}

.mr-20 {
    margin-right: 20px;
}