/* default START */

body{
    font-family: 'Spoqa Han Sans', 'Spoqa Han Sans JP', 'Sans-serif';
}
/* default END */

/* common STARt */
.alt-text{
    position: absolute;
    left: -1000000px;
}
.blue-link{
    color: #1e60b1;
}
.blue-link:hover, .blue-link:focus{
    color: #ff5600;
}
.page-info{
    margin-top: 10px;
}
/* common END */

/* nav START */
.nav-login-bar{
    background-color: #eff3f6;
}
@media (max-width: 767px){
    .nav-login-bar{
        display: none;
    }
}

.navbar-default.navbar-default--demo{
    background-color: #fff;
    width: 100%;
}
.navbar-default .demo-nav a{
    padding-bottom: 0;
    font-weight: 700;
    padding-top: 40px;
    font-size: 20px;
    color: #43484c;
    text-align: center;
}
.navbar-default .demo-nav .dropdown.open .dropdown-toggle{
    color: #1e60b1;
}
.navbar-default .demo-nav .dropdown:hover .dropdown-toggle{
    color: #1e60b1;
}
.navbar-default .demo-nav .dropdown-menu{
    width: 100%;
    min-width: 10px;
}
.navbar-default .demo-nav .demo-nav-li:hover a{
    color: #1e60b1;
}
.navbar-default .demo-nav .dropdown-menu a{
    font-size: 16px;
    padding-top: 10px;
    padding-bottom: 10px;
    color: #43484c;
    background-color: transparent;
}
.navbar-default .demo-nav .dropdown-menu li:hover a{
    color: #1e60b1;
}
.navbar-default .demo-nav .active:hover a, .navbar-default .demo-nav .active:visited a{
    background-color: transparent;
}
.navbar-default .demo-nav .dropdown.open .dropdown-toggle{
    background-color: #fff;
}
.navbar-default .demo-nav .active a{
    color: #1e60b1;
    background-color: transparent;
}
.navbar-default .demo-nav .active .nav-li-active-bar{
    background-color: #1e60b1;
}
.demo-nav .demo-collapse .dropdown-menu i{
    display: none;
}
.nav-li-active-bar{
    margin-top: 36px;
    background-color: transparent;
    height: 4px;
}
.nav-login-ul {
    margin-bottom: 0;
}
.li-middle{
    padding-top: 35px;
}
.li-middle-line{
    color: #c7c9cc;
}
.li-middle .li-middle-line{
    font-size: 20px;
}
.nav-login-li__link{
    color: #727a7f;
    font-size: 14px;
    font-weight: 400;
    line-height: 1.8;
}
.nav-login-li__link:hover, .nav-login-li__link:focus{
    color: #2968b5;
    text-decoration: none;
}
.navbar-brand.navbar-brand--demo{
    color: #191919;
    font-weight: 700;
    font-size: 30px;
    padding-top: 40px;
    padding-left: 0;
    padding-bottom: 40px;
    display: inline-block;
    margin-left: 0 !important;
}
.nav-login-m{display: none;}
@media (max-width: 767px){
    .navbar-brand.navbar-brand--demo{
        font-size: 20px;
        padding-top: 15px;
        padding-left: 15px;
    }
}
/* nav END */

/* footer START */
.demo-footer{
    margin-top: 30px;
    background-color: #45494c;
    padding: 50px 0;
}
.demo-footer .demo-address{
    font-size: 16px;
    color: #e4eaef;
    margin-bottom: 5px;
}

.footer-copyright{
    color: #727a7f;
    font-size: 12px;
    margin-bottom: 0;
    margin-top: 50px;
}
.footer-name{
    font-size: 16px;
    color: #e4eaef;
}
.term-link{
    color: #ffffff;
    font-size: 14px;
    font-weight: 700;
}
.term-link:hover, .term-link:focus{
    color: #ff5600;
}
/* footer END */

/* my page START */
.my-page-title{
    color: #191919;
    font-size: 36px;
    font-weight: 700;
    line-height: 1.2;
    padding-bottom: 36px;
}
.my-page-tabs{
    list-style: none;
    border-top: 1px solid #b6c1cc;
    border-bottom: 1px solid #b6c1cc;
    padding-left: 0;
    margin-bottom: 40px;
}
.my-page-tab-bar{
    background-color: transparent;
    width: 100%;
    height: 4px;
    margin-top: 15px;
}
.my-page-tab .my-page-tab__link{
    font-size: 20px;
    padding: 21px 8px 15px;
    color: #727a7f;
    font-weight: 700;
    display: block;
    border-bottom: 4px solid transparent;

}
.my-page-tab .my-page-tab__link:hover, .my-page-tab .my-page-tab__link:focus{
    color: #1e60b1;
}
.my-page-tab.active .my-page-tab__link{
    border-color: #1e60b1;
    color: #1e60b1;
} 
.my-page-tab{
    float: left;
    margin: 0 20px;
}
.search-form-group{
    position: relative;
    margin-bottom: 24px;

}
.search-form-group--lg .search-submit-btn{
    font-size: 36px;
    padding-top: 12px;
}
.search-form-group--lg .demo-input{
    height: 71px;
    font-size: 24px;
}
.search-submit-btn{
    background-color: transparent;
    color: #727a7f;
    font-size: 20px;
    position: absolute;
    right: 10px;
    border: none;
    top: 0;
    padding: 14px 12px 8px;
}
.search-submit-btn:hover, .search-submit-btn:focus{
    color: #1e60b1;
}
.search-result-text{
    font-size: 20px;
    color: #43484c;
    margin-top: 10px;
}

@media (max-width: 767px){
    .search-form-group--lg .search-submit-btn{
        font-size: 24px;
        padding-top: 10px;
    }
    .search-form-group--lg .demo-input{
        height: 51px;
        font-size: 18px;
    }
}
/* my page END */

/* tabel START */
.demo-sm-l{
    width: 70%;
}

.demo-sm-s{
    width: 15%;
}
.demo-table{
    display: table;
    width: 100%;
    margin-bottom: 40px;
}
.demo-row{
    display: table-row;
}
.demo-row--th{ 
}
.demo-th{
    display: table-cell;
    font-size: 16px;
    font-weight: 700;
    color: #191919;
    text-align: center;
    padding: 20px;
    margin: 0;
    border-top: 1px solid #727a7f;   
    border-bottom: 1px solid #727a7f;  
}
.demo-th p{
    margin: 0;
    color: #191919;
    font-size: 16px;
    font-weight: 700;
}
@media (max-width: 767px){
    .demo-row--th{
        display: none;
    }
}

.demo-td{
    display: table-cell;
    height: 100px;
    color: #43484c;
    font-size: 16px;
    vertical-align: middle;
    text-align: center;
    padding: 20px 0;
    border-bottom: 1px solid #b6c1cc;
}
.demo-td p{
    margin-bottom: 0;
}
.demo-td .demo-td__title{
    color: #191919;
    font-size: 20px;
    text-align: left;
    margin-bottom: 10px;
}
.demo-title-post-info{
    text-align: left;
}
.td-post-info-p{
    display: inline-block;
    font-size: 16px;
    margin-bottom: 0;
    color: #727a7f;
    margin-right: 15px;
}
.demo-td__status{
    color: #43484c;
    font-size: 16px;
}
.demo-td__status--answer{
    color: #0ccbd2;
}
/* table END */

/* pagination START */
.demo-pagination{
    text-align: center;
}
.pagination--demo{
    margin: 0 auto;
}
.pagination--demo>li>a, .pagination--demo>li>span{
    background-color: transparent;
    border: none;
    color: #727a7f;
    font-size: 20px;
    font-weight: 700;
    padding: 3px 2px 0;
    margin: 0 5px;
}
.pagination--demo>li.active>a{
    background-color: transparent;
    color: #0ccbd2;
    border-bottom: 1px solid #0ccbd2;
}
.pagination--demo>li.active>a:hover, .pagination--demo>li.active>a:focus{
    background-color: transparent;
    color: #0ccbd2;
}
.pagination--demo>li>a:hover, .pagination--demo>li>a:focus{
    color: #0ccbd2;
    background-color: transparent;
}
.pagination--demo .page-arrow a{
    border: 1px solid #b6c1cc;
    color: #727a7f;
    font-weight: 700;
    padding: 3px 12px;

    -webkit-border-radius: 4px; 
    -moz-border-radius: 4px; 
    border-radius: 4px; 
    height: 36px;
}
.pagination--demo .page-arrow a:hover, .pagination--demo .page-arrow a:focus{
    color: #0ccbd2;
    background-color: #eaf8ff;
}

.pagination--demo .page-arrow--pre a{
    margin-right: 15px;
}
.pagination--demo .page-arrow--next a{
    margin-left: 15px;
}
/* pagination END */


/* 제안쓰기 START */
.demo-detail-title{
    color: #191919;
    font-size: 36px;
    font-weight: 700;
    line-height: 1.2;
    border-bottom: 2px solid #b6c1cc;
    padding-bottom: 36px;
    margin-bottom: 36px;
}
.demo-page-title{
    color: #191919;
    font-size: 36px;
    font-weight: 700;
    line-height: 1.2;
    border-bottom: 2px solid #b6c1cc;
    padding-bottom: 36px;
    margin-bottom: 24px;
}
.detail-title{
    margin-top: 0;
    color: #191919;
    font-weight: 700;
    font-size: 26px;
    line-height: 1.5;
}


.demo-content{
    float: left;
    width: 75%
}

.demo-side{
    float: left;
    width: 25%;
    padding-left: 32px;
}

.detail-title-container{
    float: left;
    max-width: 650px;
}

.title-box{
    padding-bottom: 36px;
    border-bottom: 1px solid #b6c1cc;
}
.content-box{
    padding: 35px 24px;
}
.content-box p{
    color: #43484c;
    font-size: 16px;
    line-height: 1.5;
}
.thumbs-ups{
    float: right;
}
.thumbs-up-btn{
    float: left;

    width: 96px;
    height: 32px;
    font-size: 14px;
    color: #fffefe;
    padding: 6px;
    text-align: center;
    display: inline-block;
    border: none;
    margin-right: -7px;


    background-repeat: no-repeat;
    background-position: center center;
    -webkit-background-size: contain;
    -moz-background-size: contain;
    -o-background-size: contain;
    background-size: contain;
}
.answer-status{
    float: left;
    color: #ff5600;
    padding: 5px;
    text-align: center;
    width: 101px;
    height: 32px;

    background-repeat: no-repeat;
    background-position: center center;
    -webkit-background-size: contain;
    -moz-background-size: contain;
    -o-background-size: contain;
    background-size: contain;
}


.title-author{
    position: relative;
    padding-left: 50px;
    float: left;
}
.title-author__name{
    font-size: 14px;
    color: #727a7f;
    margin-top: 3px;
    margin-bottom: 0; 
}

.title-author__date{
    font-size: 14px;
    color: #727a7f;
    margin-top: 0;
    margin-bottom: 0;
}

.sns-group{
    float: right;
}
.sns-btn{
    width: 41px;
    height: 41px;
    font-size: 24px;
    color: #727a7f;
    float: left;
    display: inline-block;
    margin-left: 8px;
    background-color: #eff3f6;
    border: none;
    -webkit-border-radius: 50%; 
    -moz-border-radius: 50%; 
    border-radius: 50%; 
}


.content-thumbs-up-count{
    margin-top: 30px;
    color: #727a7f;
    font-size: 14px;
}


.attached-file-box{
    margin-top: 40px;
    padding: 25px 25px 16px;
    width: 100%;
    -webkit-border-radius: 4px; 
    -moz-border-radius: 4px; 
    border-radius: 4px; 
    border: 1px solid #b6c1cc;
}
.attached-file-box-title{
    color: #191919;
    margin-top: 0;
    font-size: 14px;
    font-weight: 700;
}
.attached-file-box-ul{
    list-style: none;
    padding-left: 0;
    margin-bottom: 0;
}
.attached-file-box-ul li{
    margin-bottom: 5px;
}
.panel-group .panel-demo{
    margin-top: -1px;
    -webkit-border-radius: 0; 
    -moz-border-radius: 0; 
    position: relative;
    border-radius: 0; 
    border-color: #b6c1cc;
    border-left: none;
    border-right: none;

    -moz-box-shadow:    none;
    -webkit-box-shadow: none;
    box-shadow:         none;
}
.panel-group .panel.panel-demo+.panel.panel-demo{
    margin-top: -1px;
}
.panel-default .panel-heading--demo{
    padding-bottom: 0;
    background-color: #fff;
}
.feedback-name{
    padding-top: 5px;
    margin-left: 10px;
    float: left;
    display: inline-block;
    color: #727a7f;
    font-size: 14px;
}
.feedback-date{
    padding-top: 5px;
    margin-left: 20px;
    float: left;
    display: inline-block;
    color: #727a7f;
    font-size: 14px;
}
.feedback-arrow-group{
    position: absolute;
    top: 12px;
    right: 10px;
}
.feedback-arrow-group i{
    font-size: 20px;
}
.feedback-title-wrapper{
    display: inline-block;
    color: #727a7f;
}
.collapse-demo{
    position: relative;
    display: block;
}
.collapse-demo.in .panel-body{
    display: block;
}
.collapse-demo + .feedback-arrow-group .xi-angle-down{
    display: block;
}
.collapse-demo + .feedback-arrow-group .xi-angle-up{
    display: none;
}
.collapse-demo.in + .feedback-arrow-group .xi-angle-down{
    display: none;
}
.collapse-demo.in + .feedback-arrow-group .xi-angle-up{
    display: block;
}

.collapse-demo.collapsing .panel-body{
    display: block;
}
.collapse-demo .feedback-arrow-group{
    display: inline-block !important;
}
.collapse-demo.collapsing .feedback-arrow-group{
    display: inline-block !important;
}
.collapse-demo .panel-body{
    display: none;
    border-top: 1px solid #b6c1cc;
}
.relative-links{
    margin-top: 30px;
}
.relative-title{
    color: #191919;
    font-size: 16px;
    font-weight: 700;
}
.relative-link:hover{
    color: #1e60b1;
}
.relative-link{
    color: #43484c;
}
.relative-link-ul{
    list-style: none;
    padding-left: 28px;
}
.relative-link-li{
    padding-bottom: 10px;
}


/* 제안쓰기 END */

/* progress bar START */
.progress-bg{
    border: 1px solid #b6c1cc;
    background-color: #eff3f6;
    height: 24px;
    width: 100%;
    position: relative;
}
.progress-thumb{
    position: absolute;
}
.progress-thumb-img{
    margin-left: -6px;
}
.progress-fill-bar{
    height: 22px;
    display: inline-block;
    background-color: #ff5600;
    background-image: url('../img/progress-pattern.png')
}
.demo-progress .progress-step-1{
    display: inline-block;
    font-size: 12px;
    color: #b6c1cc;
    height: 22px;
    position: absolute;
    padding-top: 3px;
    top: 0;
}
.demo-progress .progress-step-1 .progress-step-1-text{
    margin-left: -28px;
}
.progress-step-1-line{
    position: absolute;
    top: 0;
    width: 1px;
    height: 22px;
    background-color: #b6c1cc;
}
.demo-progress .progress-step-2{
    font-size: 12px;
    color: #b6c1cc;
    position: absolute;
    top: 0;
    right: 0;
    padding-top: 3px;
    padding-right: 10px;
}
/* progress bar END */


/* form START */
.form-input-container{
    padding-left: 24px;
    padding-right: 24px;
    border-bottom: 2px solid #b6c1cc;
    margin-bottom: 20px;
    padding-bottom: 20px;
}
.form-warning-text{
    margin-bottom: 50px;
}
.demo-form-label{
    color: #191919;
    font-size: 20px;
    font-weight: 700;
    line-height: 1.5;
    margin-bottom: 14px;
    margin-top: 0;
}
.demo-form-label--check{
    margin-bottom: 0;
}

.demo-help-error{
    margin-top: 10px;
    font-size: 12px;
    font-weight: 400;
    color: #cf2239;
    position: absolute;
}

.check-required{
    color: #0ccbd2;
    font-size: 14px;
}

.to-list-btns{
    margin-top: 40px;
    padding-top: 40px;
    border-top: 1px solid #b6c1cc;
}
/* form END */


/* button START */
.demo-submit-btn{
    padding: 13px;
    color: #ffffff;
    font-size: 16px;
    display: inline-block;
    -webkit-border-radius: 4px; 
    -moz-border-radius: 4px; 
    border-radius: 4px; 
    width: 121px;
    height: 50px;
    -moz-box-shadow:    0 2px 0 rgba(0, 0, 0, 0.15);
    -webkit-box-shadow: 0 2px 0 rgba(0, 0, 0, 0.15);
    box-shadow:         0 2px 0 rgba(0, 0, 0, 0.15);
}

.cancel-btn{
    background-color: #727a7f;
    color: #fff;
}
.cancel-btn:hover, .cancel-btn:focus{
    background-color: #43484c;
    color: #fff;
}

.demo-submit-btn--submit{
    background-color: #1e60b1;
}
.demo-submit-btn--submit:hover, .demo-submit-btn--submit:focus{
    background-color: #184c8c;
}
.demo-btn{
    font-size: 20px;
}

.demo-btn--primary{
    background-color: #1e60b1;
    -moz-box-shadow:    0 2px 0 rgba(0, 0, 0, 0.15);
    -webkit-box-shadow: 0 2px 0 rgba(0, 0, 0, 0.15);
    box-shadow:         0 2px 0 rgba(0, 0, 0, 0.15);
    -webkit-border-radius: 4px; 
    -moz-border-radius: 4px; 
    border-radius: 4px; 
    color: #fff;
    height: 51px;
    padding: 11px;
}
.demo-btn--primary:hover, .demo-btn--primary:focus{
    background-color: #184c8c;
    color: #fff;
}

.btn-side{
    margin-top: 16px;
    width: 100%
}
.d-btn{
    -moz-box-shadow:    0 2px 0 rgba(0, 0, 0, 0.15);
    -webkit-box-shadow: 0 2px 0 rgba(0, 0, 0, 0.15);
    box-shadow:         0 2px 0 rgba(0, 0, 0, 0.15);
    -webkit-border-radius: 4px; 
    -moz-border-radius: 4px; 
    border-radius: 4px; 
    min-width: 95px;
    display: inline-block;
    padding: 11px;
    height: 51px;
    font-size: 16px;
}
.white-btn{
    height: 51px;
    color: #1e60b1;
    font-size: 16px;
    padding: 14px;
    background-color: #ffffff;
    border: 1px solid #1e60b1;
}
.white-btn:hover, .white-btn:focus{
    background-color: #1e60b1;
    color: #fff;
}
.d-btn-lg{
    height: 71px;
    font-size: 24px;
    padding: 17px;
}
.btn-more{
    width: 161px;
}
.btn-sign{
    width: 100%;
    font-size: 20px;
    padding: 11px;
}
.next-btn{
    margin-top: 20px;
}
@media (max-width: 767px){
    .d-btn-lg{
        height: 51px;
        font-size: 16px;
        padding: 14px;
    }
}


/* button END */


/* comment START */

.demo-comment-form{
    position: relative;
    margin-top: 80px;
    padding-left: 78px;
}

.demo-comment-textarea{
    width: 100%;
}

.comment-action-group{
    margin-top: 16px;
}

.demo-comments-container{
    margin-top: 60px;
}
.demo-comments-top{
    border-bottom: 2px solid #b6c1cc;
}
.comment-count-text{
    color: #b6c1cc;
    font-size: 14px;
    display: inline-block;
    width: 100px;
    text-align: right;
    margin-top: 10px;
}
.comments-count{
    font-size: 16px;
    color: #727a7f;
    margin-bottom: 17px;
}
.comment-sorting-ul{
    list-style: none;
    display: inline-block;
    padding-left: 0;
}
.comment-sorting-li{
    float: left;
    padding: 0 20px;
}
.comment-sorting-li.active .sorting-link{
    color: #1e60b1;
    border-color: #1e60b1;
    font-weight: 700;
}
.sorting-link{
    padding: 16px 9px;
    color: #727a7f;
    border-bottom: 4px solid transparent;
}

.demo-comments{
    list-style: none;
    padding-left: 24px;
    margin-bottom: 0;
}
.comment-content{
    padding-right: 24px;
    border-bottom: 1px solid #b6c1cc;
    padding-bottom: 15px;
}
.comment-li{
    padding-top: 23px;
    position: relative;
    padding-left: 58px;
}
.comment-end-line{
    margin-top: -1px;
    width: 100%;
    height: 2px;
    background-color: #b6c1cc;
}
.comment-name{
    font-size: 14px;
    padding-top: 5px;
    margin-bottom: 0;
}
.comment-time{
    color: #727a7f;
    font-size: 14px;
    margin: 0;
}
.comment-thumbs-count{
    color: #727a7f;
}
.comment-content-text{
    color: #43484c;
    font-size: 14px;
    line-height: 1.8;
}
.show-more-container{
    margin-top: 40px;
    margin-bottom: 40px;
}
/* comment END */

/* side START */
.side-box{
    border: 1px solid #b6c1cc;
    -webkit-border-radius: 4px; 
    -moz-border-radius: 4px; 
    border-radius: 4px; 
    padding: 24px;
    text-align: center;
}

.profile-circle{
    margin: 40px auto 10px;
    -webkit-border-radius: 50%; 
    -moz-border-radius: 50%; 
    border-radius: 50%; 
    width: 108px;
    height: 108px;

    background-position: center center;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
    -ms-behavior: url('/backgroundsize.min.htc')
}

.profile-circle--title{
    width: 42px;
    height: 42px;
    position: absolute;
    left: 0;
    margin: 0;
}
.profile-circle--admin-feedback{
    height: 27px;
    width: 27px;
    margin: 0;
    float: left;
    display: inline-block;
}
.profile-circle--comment-form{
    width: 54px;
    height: 54px;
    position: absolute;
    left: 0;
    margin-top: 0;
}
.profile-circle--comment{
    width: 42px;
    height: 42px;
    position: absolute;
    left: 0;
    margin: 0;
}
.profile-circle--mypage{
    width: 144px;
    height: 144px;
}
.profile-name{
    color: #191919;
    font-size: 26px;
    line-height: 1.5;
}

.side-help-text{
    font-size: 16px;
    line-height: 1.8;
    color: #43484c;
}

/* side END */


/* sign up, in START */
.sign-container{
    max-width: 369px;
    width: 100%;
    margin: 140px auto;

}
.sign-container--modal{
    margin: 40px auto;

}
.sing-action{
    border-top: 2px solid #b6c1cc;
    margin-top: 40px;
    padding-top: 30px;
}
.modal-dialog--demo{
    max-width: 460px;
    width: 100%;

}

/* sign up, in END */

/* my page START */
.mypage-edit-container{
    max-width: 369px;
    width: 100%;
    margin: 40px auto;

}
.mypage-profile-container{
    text-align: center;
    margin-bottom: 20px;
}
.mypage-profile-wrapper{
    position: relative;
    display: inline-block;
    margin-bottom: 10px;
}
.mypage-profile-helper-text{
    color: #727a7f;
    font-size: 12px;
    text-align: left;
    margin-bottom: 3px;
}

.profile-edit-btn{
    display: block;
    width: 48px;
    height: 48px;
    border: 1px solid #b6c1cc;
    background-color: #ffffff;
    padding: 13px;
    position: absolute;
    right: 0;
    bottom: 0;

    -webkit-border-radius: 50%; 
    -moz-border-radius: 50%; 
    border-radius: 50%; 
}
.profile-edit-btn:hover, .profile-edit-btn:focus{
    background-color: #43484c;
}
.profile-edit-btn:hover i, .profile-edit-btn:focus i{
    background-color: #43484c;
    color: #fff;
}
.profile-edit-btn i{
    font-size: 20px;
    color: #43484c;
}
.panel-group--mypage{

}
.panel-group--mypage .panel-mypage{
    border: none;
    -moz-box-shadow:    none;
    -webkit-box-shadow: none;
    box-shadow:         none;
}
.panel-group--mypage .panel-heading--mypage{
    background-color: transparent;
    border: none;
    padding: 0;
}
.panel-group--mypage .panel-mypage .panel-body--mypage{
    border-top: none;
}
.panel-default.panel-mypage>.panel-heading+.panel-collapse.collapse--mypage>.panel-body{
    margin-top: 30px;
    border-top: none;
    padding: 0;
}

.panel-group--mypage .change-password-collapse-btn{
    color: #1e60b1;
    font-size: 16px;
}

/* my page END */


/* input START */
.demo-input{
    height: 50px;
    border-color: #b6c1cc;
}
.form-group--demo{
    margin-bottom: 40px;
}
.form-group--demo--last{
    margin-bottom: 0;
}
.form-help-text{
    color: #727a7f;
    font-size: 16px;
}
.form-help-text--blue{
    color: #1e60b1;
}
.form-group.has-error input{
    border: 2px solid #cf2239;
}
.d-input-lg{
    height: 71px;
    font-size: 24px;
}
.d-input-lg .search-submit-btn{ 
    font-size: 36px;
}
/* input END */



/* main START */
.main-top-search{
    margin-top: 20px;
    margin-bottom: 40px;
}
.main-top-search .search-form-group{
    margin-bottom: 0;
}
.main-top-search__left{
    width: 67%;
    float: left;
}
.main-top-search__right{
    width: 33%;
    padding-left: 33px;
    float: left;
}
@media (max-width: 767px){
    .main-top-search{
        margin-top: 0;
        margin-bottom: 20px;
    }
    .main-top-search__left{
        width: 100%;
        margin-bottom: 10px;
    }
    .main-top-search__right{
        padding-left: 0;
        width: 100%;
    }
}
.main-card-wrapper{
    margin-bottom: 40px;
    padding-bottom: 10px;
    border-bottom: 1px solid #b6c1cc;
}
/* main END */


/* CARD START */

.demo-card-wrapper{
    margin-bottom: 30px;
}
.demo-card{
    padding: 25px;
    border: 1px solid #b6c1cc;

    -webkit-border-radius: 4px; 
    -moz-border-radius: 4px; 
    border-radius: 4px; 
}
@media (max-width: 767px){
    .demo-card{
        padding: 15px;
    }
}

.demo-card__author{
    position: relative;
    padding-left: 50px;
}
.demo-card__title{
    font-size: 20px;
    color: #191919;
    font-weight: 700;
    line-height: 1.5;
    max-height: 60px;
    overflow: hidden;
}
.demo-card__desc{
    font-size: 16px;
    color: #43484c;
    font-weight: 400;
    line-height: 1.5;
    margin-bottom: 12px;
    max-height: 48px;
    overflow: hidden;
}
.demo-card__info{
    margin-bottom: 4px;
}
.demo-card__info__p{
    display: inline-block;
    font-size: 14px;
    margin-bottom: 0;
    color: #727a7f;
    margin-right: 15px;
}
/* CARD END */


/* mobile menu */

.navbar-toggle--demo .demo-toggle--close{
    display: block;
}
.demo-toggle--open{
    display: none;
}
.collapsed .demo-toggle--close{
    display: none;
}
.collapsed .demo-toggle--open{
    display: block;
}
@media (max-width: 767px){
    .demo-collapse{
        padding-left: 0;
        padding-right: 0;
    }
    .navbar-header--demo{
        position: fixed;
        z-index: 11000;
    }
    .container .demo-collapse{
        position: fixed;
        z-index: 9999;
        top: 0;
        bottom: 0;
        left: 0;
        right: 0;
    
        width: 100%;
        width: 100vw;
        height: 100%;
        height: 100vh;
    
        background-color: #1e60b1;
        opacity: 0.95;
        margin-left: 0;
        margin-right: 0;
    }
    .navbar-toggle--demo{
        position: fixed;
        z-index: 1000;
        right: 0;
        border: none;
        margin-top: 0;
        margin-right: 0;
        margin-bottom: 0;
        padding: 10px;
        color: #fff;
    }
    .navbar-toggle--demo + .navbar-brand--demo{
        color: #fff;
    }
    .navbar-toggle--demo.collapsed{
        color: #43484c;
    }
    .navbar-toggle--demo.collapsed + .navbar-brand--demo{
        color: #191919;
    }
    .navbar-default .navbar-toggle--demo:hover, .navbar-default .navbar-toggle--demo:visited, .navbar-default .navbar-toggle--demo:focus{
        background-color: transparent;
    }
    .demo-nav{
        margin-top: 50px;
        padding-left: 15px;
        padding-right: 15px;
    }
    .nav>li.li-middle{
        display: none;
    }
    .navbar-default .navbar-nav>li{
        padding: 0 15px;
        text-align: left;
    }
    .navbar-default .navbar-nav>li.active>a, .navbar-default .navbar-nav>li.active>a:hover{
        color: #fff;
    }
    .navbar-default .navbar-nav>li>a{
        color: #fff;
        padding-top: 15px;
        padding-bottom: 15px;
        text-align: left;
        font-weight: 400;
    }
    .navbar-default .demo-nav .dropdown:hover .dropdown-toggle{
        color: #fff;
    }
    .navbar-default .demo-nav .nav-li-active-bar{
        display: none;
    }
    .navbar-default .demo-nav .demo-nav-li:hover a, .navbar-default .demo-nav .demo-nav-li:focus a{
        color: #fff;
    }
    .navbar-default .demo-nav .demo-nav-li.active a{
        border-bottom: 2px solid #fff;
    }
    .navbar-default .demo-nav .dropdown-menu{
        background-color: transparent;
        -webkit-box-shadow: none;
        box-shadow: none;
        border: none;
        border-bottom: 1px solid #fff;

        -webkit-border-radius: 0; 
        -moz-border-radius: 0; 
        border-radius: 0; 
    }
    .navbar-default .demo-nav .dropdown-menu a{
        text-align: left;
        padding-left: 30px;
        color: #fff;
        font-weight: 400;
    }
    .demo-collapse .dropdown-menu{
        display: block;
        position: relative;
        float: inherit;
    }
    .demo-nav .demo-collapse .dropdown-menu i{
        display: block;
    }

    .nav-login-m{
        display: block;
        width: 100%;
        position: absolute;
        bottom: 0;
    }
    .nav-login-m-ul{
        list-style: none;
        padding-left: 0;
        margin-bottom: 0;
    }
    .nav-login-m-li{
        float: left;
        width: 50%;
    }
    .nav-login-m-li__link{
        color: #1e60b1;
        display: block;
        font-size: 16px;
        padding: 10px;
        background-color: #ffffff;
        text-align: center;
    }
    .nav-login-m-li__link--last{
        border-left: 1px solid #b6c1cc;
    }
}