/* default START */

body{
    font-family: 'Spoqa Han Sans', 'Spoqa Han Sans JP', 'Sans-serif';
}

a:hover, a:focus {
    text-decoration: none;
}

a {
    color: black;
}

a:hover {
    color: #1e60b1;
}

/* default END */

/* common STARt */
.inline-block{
    display: inline-block;
}
.alt-text{
    position: absolute;
    left: -1000000px;
}
.content-raw p{

}
.blue-link{
    color: #1e60b1;
}
.blue-link:hover, .blue-link:focus{
    color: #ff5600;
}
.page-info{
    margin-top: 10px;
}
.img-block{
    width: 100%;
}

@media (max-width: 991px){
    .sorting-tab-selec-row{
        width: 50%;
    }
    .demo-col-6{
        width: 50%;
        float: left;
        padding-left: 5px;
        padding-right: 5px;
    }
    .demo-col-6 .sorting-tab__select{
        width: 100%;
    }
}
@media (max-width: 767px){
    .sorting-tab-selec-row{
        width: 100%;
        margin: 0;
    }
    .sorting-tab--suggest .sorting-right-form__group{
        margin-top: 0;
    }
}
/* common END */

/* nav START */
.nav-login-bar{
    background-color: #eff3f6;
}
@media (max-width: 767px){
    .nav-login-bar{
        display: none;
    }
}

.navbar-default .navbar-nav>.active>a:focus, .navbar-default .navbar-nav>.active>a:hover {
    color: #1e60b1;
    background-color: transparent;
}

.navbar-default.navbar-default--demo{
    background-color: #fff;
    width: 100%;
}
.navbar-default .demo-nav a{
    padding-bottom: 0;
    font-weight: 700;
    padding-top: 40px;
    font-size: 20px;
    color: #43484c;
    text-align: center;
}
.navbar-default .demo-nav .dropdown.open .dropdown-toggle{
    color: #1e60b1;
}
.navbar-default .demo-nav .dropdown:hover .dropdown-toggle{
    color: #1e60b1;
}
.navbar-default .demo-nav .dropdown-menu{
    width: 100%;
    min-width: 10px;
}
.navbar-default .demo-nav .demo-nav-li:hover a{
    color: #1e60b1;
}
.navbar-default .demo-nav .dropdown-menu a{
    font-size: 16px;
    padding-top: 10px;
    padding-bottom: 10px;
    color: #43484c;
    background-color: transparent;
}
.navbar-default .demo-nav .dropdown-menu li:hover a{
    color: #1e60b1;
}
.navbar-default .demo-nav .active:hover a, .navbar-default .demo-nav .active:visited a{
    background-color: transparent;
}
.navbar-default .demo-nav .dropdown.open .dropdown-toggle{
    background-color: #fff;
}
.navbar-default .demo-nav .active a{
    color: #1e60b1;
    background-color: transparent;
}
.navbar-default .demo-nav .active .nav-li-active-bar{
    background-color: #1e60b1;
}
.demo-collapse .dropdown-menu i{
    display: none;
}
.nav-li-active-bar{
    margin-top: 36px;
    background-color: transparent;
    height: 4px;
}
.nav-login-ul {
    margin-bottom: 0;
}
.li-middle{
    padding-top: 35px;
}
.li-middle-line{
    color: #c7c9cc;
}
.li-middle .li-middle-line{
    font-size: 20px;
}
.nav-login-li__link{
    color: #727a7f;
    font-size: 14px;
    font-weight: 400;
    display:inline-block;
    line-height: 32px;
}
.nav-login-li__link:hover, .nav-login-li__link:focus{
    color: #2968b5;
    text-decoration: none;
}
.navbar-brand.navbar-brand--demo{
    color: #191919;
    font-weight: 700;
    font-size: 30px;
    padding-top: 40px;
    padding-left: 0;
    padding-bottom: 40px;
    display: inline-block;
    margin-left: 0 !important;
}
.navbar-brand.navbar-brand--demo.navbar-brand--demo--collapse{
    color: #fff;
}
.nav-login-m{display: none;}
@media (min-width: 768px) and (max-width: 991px){
    .navbar-brand.navbar-brand--demo{
        font-size: 24px;
    }
}

@media (max-width: 767px){
    .navbar-brand.navbar-brand--demo{
        font-size: 20px;
        padding-top: 15px;
        padding-left: 15px;
    }
}
/* nav END */

/* footer START */
.demo-footer{
    margin-top: 80px;
    background-color: #45494c;
    padding: 30px 0;
}
@media (max-width: 767px){
    .demo-footer{
        margin-top: 30px;
        padding: 20px 0;
    }
}
.demo-footer .demo-address{
    font-size: 16px;
    color: #e4eaef;
    margin-bottom: 5px;
}
@media (max-width: 767px){
    .demo-footer .demo-address{
        margin-top: 20px;
    }
}

.footer-copyright{
    color: #727a7f;
    font-size: 12px;
    margin-bottom: 0;
    margin-top: 50px;
}
@media (max-width: 767px){
    .footer-copyright{
        margin-top: 10px;
    }
}
.footer-name{
    font-size: 16px;
    color: #e4eaef;
}
.term-link{
    color: #ffffff;
    font-size: 14px;
    font-weight: 700;
}
.term-link:hover, .term-link:focus{
    color: #ff5600;
}
/* footer END */

/* top-group START */
.top-row{
    margin-top: 0;
    margin-bottom: 20px;
}
.top-row__title{
    color: #191919;
    font-size: 36px;
    font-weight: 700;
    line-height: 1.2;
}
@media (max-width: 767px){
    .top-row{
        margin-bottom: 0;
    }
    .top-row__title{
        margin-top: 0;
        margin-bottom: 0;
        font-size: 24px;
        text-align: center;
    }
    .footer-links{
        margin-top: 20px;
    }
}

/* top-group END */

/* sorting-tab START */
.sorting-tab{
    border-top: 1px solid #b6c1cc;
    border-bottom: 1px solid #b6c1cc;
    margin-bottom: 40px;
}
@media (max-width: 767px){
    .sorting-tab{
        margin-bottom: 20px;
    }
}
.sorting-tab--discussion{
    margin-bottom: 0;
}
.sorting-tab__ul{
    float: left;
    list-style: none;
    padding-left: 0;
    margin-bottom: 0;
    margin-right: 40px;
}
.sorting-tab__li{
    float: left;
    margin: 0 20px;
}
.sorting-tab__li .sorting-tab__li__link:hover, .sorting-tab__li .sorting-tab__li__link:focus{
    color: #1e60b1;
}
.sorting-tab__li.active .sorting-tab__li__link{
    border-color: #1e60b1;
    color: #1e60b1;
} 
.sorting-tab__li__link{
    font-size: 20px;
    padding: 21px 8px 15px;
    color: #727a7f;
    font-weight: 700;
    display: block;
    border-bottom: 4px solid transparent;
}
@media (max-width: 767px){
    .sorting-tab__li__link{
        font-size: 16px;
        padding: 8px 8px 6px;
    }
}

.sorting-tab__select{
    float: left;
    margin-top: 9px;
    margin-bottom: 10px;
}
.sorting-tab--discussion .sorting-tab__select{
    margin-right: 5px;
}
.sorting-tab__select select{
    height: 50px;
    width: 174px;
}
.sorting-right-form{
    float: right;
    width: 33%;
    padding-left: 33px;
}
.sorting-right-form__group{
    position: relative;
    margin-top: 9px;
    margin-bottom: 9px;
}

@media (max-width: 767px){
    .sorting-tab--discussion{
        margin: 0;
        border: none;
    }
    .sorting-tab--discussion .sorting-tab__select{
        width: 49%;
        margin-right: 0;
    }
    .sorting-tab--execution .sorting-tab__select{
        width: 40%;
    }
    .sorting-tab__select--last{
        margin-left: 2%;
    }   
    .sorting-tab__select select{
        width: 100%;
    }
    .sorting-right-form{
        width: 100%;
        padding-left: 0;
    }
}


/* sorting-tab END */

/* discussion START */
.discussion-contents-container{
}
.discussion-mention{
    text-align: center;
    margin: 26px 0;
}
.discuss-title{
    font-weight: 700;
    color: #191919;
    font-size: 20px;
    margin-top: 0;
}
.discussion-mention-p{
    color: #191919;
    font-size: 26px;
    text-align: center;
    font-weight: 700;
    margin: 0;
}
@media (max-width: 767px){
    .discussion-mention{
        margin: 5px 0 15px;
    }
    .discussion-mention-p{
        font-size: 24px;
    }
}

.img-box-top__contents{
    float: left;
    width: 50%;
    padding-right: 30px;
}

.img-box-top__contents .detail-title{
    margin-top: -7px;
    font-size: 36px;
}
.img-box-top__img{
    float: right;
    width: 50%;
}
@media (max-width: 767px){
    .img-box-top__contents .detail-title{
        font-size: 20px;
    }
}
@media (max-width: 991px){
    .img-box-top__contents{
        width: 70%;
        padding-right: 15px;
    }
    .img-box-top__img{
        width: 30%;
    }
}
@media (min-width: 992px) and (max-width: 1199px){
    .img-box-top__contents{
        width: 60%;
    }
    .img-box-top__img{
        width: 40%;
    }
}
.img-box-top__date{
    color: #191919;
    font-size: 20px;
    font-weight: 700;
    margin-top: 20px;
    margin-bottom: 30px;
}
@media (max-width: 767px){
    .img-box-top__contents{
        float: inherit;
        width: 100%;
        padding-right: 0;
    }
    .img-box-top__contents .detail-title{
        margin-top: 10px;        
    }
    .img-box-top__img{
        float: inherit;
        width: 100%;
    }
    .img-box-top__date{
        font-size: 16px;
    }
}

.middle-nav-tab{
    margin-top: 0;
    margin-bottom:80px;
    border-bottom: 2px solid #b6c1cc;
    background-color: #fff;
    width: 100%;
}
.middle-nav-tab--scroll{
    position: fixed;
    left: 0;
    right: 0;
    top: 0;
    z-index: 900;
}
@media (max-width: 767px){
    .middle-nav-tab{
        margin-bottom: 30px;
    }
}
@media (max-width: 767px){
    .middle-nav-tab--scroll .middle-btn-group{
        display: none;
    }
}
.middle-btn-group{
    float: right;
    margin-top: 10px;
    display: block;
}
#middle-nav-tab-scroll{
    display: none;
}
/* discussion END */

/* my page START */
.my-page-title{
    color: #191919;
    font-size: 36px;
    font-weight: 700;
    line-height: 1.2;
    padding-bottom: 36px;
}
@media (max-width: 767px){
    .my-page-title{
        font-size: 24px;
        text-align: center;
        margin-top: 0;
        margin-bottom: 0;
        padding-bottom: 20px;
        border: none;
    }
}
.my-page-tabs{
    list-style: none;
    border-top: 1px solid #b6c1cc;
    border-bottom: 1px solid #b6c1cc;
    padding-left: 0;
    margin-bottom: 40px;
}
@media (max-width: 767px){
    .my-page-tabs{
        display: none;
    }
}
.my-page-tab-bar{
    background-color: transparent;
    width: 100%;
    height: 4px;
    margin-top: 15px;
}
.my-page-tab .my-page-tab__link{
    font-size: 20px;
    padding: 21px 8px 15px;
    color: #727a7f;
    font-weight: 700;
    display: block;
    border-bottom: 4px solid transparent;

}
.my-page-tab .my-page-tab__link:hover, .my-page-tab .my-page-tab__link:focus{
    color: #1e60b1;
}
.my-page-tab.active .my-page-tab__link{
    border-color: #1e60b1;
    color: #1e60b1;
} 
.my-page-tab{
    float: left;
    margin: 0 20px;
}
.search-form-group{
    position: relative;
    margin-bottom: 24px;

}
.search-form-group--lg .search-submit-btn{
    font-size: 36px;
    padding-top: 12px;
}
.search-form-group--lg .demo-input{
    height: 71px;
    font-size: 24px;
}
.search-submit-btn{
    background-color: transparent;
    color: #727a7f;
    font-size: 20px;
    position: absolute;
    right: 10px;
    border: none;
    top: 0;
    padding: 14px 12px 8px;
}
.search-submit-btn:hover, .search-submit-btn:focus{
    color: #1e60b1;
}
.search-result-text{
    font-size: 20px;
    color: #43484c;
    margin-top: 10px;
}

@media (max-width: 767px){
    .search-form-group--lg .search-submit-btn{
        font-size: 24px;
        padding-top: 10px;
    }
    .search-form-group--lg .demo-input{
        height: 51px;
        font-size: 18px;
    }
}
.m-tabs-mobile{
    display: none;
}
@media (max-width: 767px){
    .m-tabs-mobile{
        display: block;
    }
    .m-tabs-mobile .sorting-tab__select{
        width: 100%;
        margin: 0;
        float: none;
    }
    .sorting-tab-select-row::after {
        display: block;
        content: "";
        clear: both;
    }
    .sorting-tab-select-row{
        margin-left: -5px;
        margin-right: -5px;
    }

    .sorting-tab-select-row .sorting-tab__select{
        margin-top: 9px;
        margin-bottom: 10px;
    }
}

/* my page END */

/* tabel START */
.demo-sm-l{
    width: 70%;
}

.demo-sm-s{
    width: 15%;
}
.demo-table{
    display: table;
    width: 100%;
    margin-bottom: 40px;
}
@media (max-width: 767px){
    .demo-table{
        border-top: 1px solid #727a7f;
        display: block;
    }
}

.demo-row{
    display: table-row;
}
.demo-row--vote{

}
.demo-td--status{
    text-align: center;
}
@media (max-width: 767px){
    .demo-row{
        display: block;
        border-bottom: 1px solid #b6c1cc;
    }
    .demo-row--vote .demo-td{
        display: block;
    }
    .demo-row--vote .demo-td--text-left{
        padding-bottom: 0;
    }   
    .demo-row--vote .demo-td--status{
        padding-top: 0;
    }   
}
.block-board-wrapper{
    margin-bottom: 40px;
}
.block-board-th{
    
}
@media (max-width: 767px){
    .block-board-th{
        border-bottom: 1px solid #727a7f;  
    }
}
.demo-th{
    display: table-cell;
    font-size: 16px;
    font-weight: 700;
    color: #191919;
    text-align: center;
    padding: 20px;
    margin: 0;
    border-top: 1px solid #727a7f;   
    border-bottom: 1px solid #727a7f;  
}
.demo-th--block{
    display: block;
}
.demo-th p{
    margin: 0;
    color: #191919;
    font-size: 16px;
    font-weight: 700;
}

.demo-td__title__status{
    display: none;
}
.demo-td .demo-td__title{
    color: #191919;
    font-size: 20px;
    text-align: left;
    margin-bottom: 10px;
}
@media (max-width: 767px){
    .demo-td .demo-td__title{        
        font-size: 18px;
        font-weight: 700;
        margin-bottom: 5px;
    }
    .demo-td__title__status{
        color: #0ccbd2;
        font-weight: 400;
        display: inline-block;
    }
    .demo-row--th{
        display: none;
    }
}

.demo-td{
    display: table-cell;
    height: 100px;
    color: #43484c;
    font-size: 16px;
    vertical-align: middle;
    text-align: center;
    padding: 20px 0;
    border-bottom: 1px solid #b6c1cc;
}
.demo-td--text-left{
    text-align: left;
}
@media (max-width: 767px){
    .demo-td{
        border-bottom: none;
        height: auto;
        padding: 8px 0;
    }
    .demo-td--status{
        text-align: right;
    }
    .demo-td--title{
        width: 100%;
        display: block;
    }
    .demo-td--date{
        display: none;
    }
}
.demo-td p{
    margin-bottom: 0;
}

.demo-title-post-info{
    text-align: left;
}
.td-post-info-p{
    display: inline-block;
    font-size: 16px;
    margin-bottom: 0;
    color: #727a7f;
    margin-right: 15px;
}
.td-post-info-p--date{
    display: none;
}
@media (max-width: 767px){
    .td-post-info-p{
        margin-right: 5px;
    }
    .td-post-info-p--date{
        display: inline-block;
    }
}

.demo-td__status{
    color: #43484c;
    font-size: 16px;
}
.demo-td__status--answer{
    color: #0ccbd2;
}
.status-btn{
    padding: 23px 20px 9px;
    display: inline-block;
    font-size: 14px;
    width: 70px;
    height: 70px;
    border: 1px solid transparent;

    -webkit-border-radius: 50%; 
    -moz-border-radius: 50%; 
    border-radius: 50%; 

    -moz-box-shadow:    0 2px 0 rgba(0, 0, 0, 0.15);
    -webkit-box-shadow: 0 2px 0 rgba(0, 0, 0, 0.15);
    box-shadow:         0 2px 0 rgba(0, 0, 0, 0.15);
}
.status-btn--agree{
    color: #1e60b1;
    border: 1px solid #1e60b1;
}
.status-btn--reject{
    color: #cf2239;
    border: 1px solid #cf2239;
}
.status-btn--etc{
    color: #b6c1cc;
    border: 1px solid #b6c1cc;
}

.block-list-ul{
    list-style: none;
    padding-left: 0;
}
.block-list-li{
    padding: 20px 0;
    border-bottom: 1px solid #b6c1cc;
}
.reply-wrapper{
    position: relative;
}
.reply-icon{
    position: absolute;
    font-size: 20px;
    left: 0;
    top: 0;
}
.block-list-li__ask-link{
    color: #43484c;
    font-size: 14px;
    text-decoration: underline;
    line-height: 1.8;
    margin-bottom: 12px;
    display: block;
}

.my-sugest-ul{
    list-style: none;
}
@media (max-width: 767px){
    .my-sugest-ul{
        padding-left: 30px;
    }
}

.my-sugest-li{
    position: relative;
}


.my-sugest-li .my-sugest-li__title{
    color: #191919;
    font-size: 20px;
    text-align: left;
    margin-bottom: 10px;
}
.my-sugest-li__title__status{
    color: #0ccbd2;
}
@media (max-width: 767px){
    .my-sugest-li .my-sugest-li__title{
        font-size: 18px;
    }
}
/* table END */

/* pagination START */
.demo-pagination{
    text-align: center;
}
.pagination--demo{
    margin: 0 auto;
}
.pagination--demo>li>a, .pagination--demo>li>span{
    background-color: transparent;
    border: none;
    color: #727a7f;
    font-size: 20px;
    font-weight: 700;
    padding: 3px 2px 0;
    margin: 0 5px;
}
@media (max-width: 767px){
    .pagination--demo>li>a, .pagination--demo>li>span{
        margin: 0 3px;
    }
}

.pagination--demo>li.active>a, .pagination--demo>li.active>span,
.pagination--demo>li.active>a:hover, .pagination--demo>li.active>a:focus,
.pagination--demo>li.active>span:hover, .pagination--demo>li.active>span:focus{
    background-color: transparent;
    color: #0ccbd2;
    border-bottom: 1px solid #0ccbd2;
}
.pagination--demo>li>a:hover, .pagination--demo>li>a:focus{
    color: #0ccbd2;
    background-color: transparent;
}
.pagination--demo .page-arrow a, .pagination--demo .page-arrow > span{
    border: 1px solid #b6c1cc;
    color: #727a7f;
    font-weight: 700;
    padding: 3px 12px;

    -webkit-border-radius: 4px; 
    -moz-border-radius: 4px; 
    border-radius: 4px; 
    height: 36px;
}
@media (max-width: 767px){
    .pagination--demo .page-arrow a, .pagination--demo .page-arrow span{
        padding: 3px 6px;
    }
}

.pagination--demo .page-arrow > span:hover, .pagination--demo .page-arrow > span:focus{
    border: 1px solid #b6c1cc;
    color: #727a7f;
    background-color: white;
}

.pagination--demo .page-arrow a:hover, .pagination--demo .page-arrow a:focus{
    color: #0ccbd2;
    background-color: #eaf8ff;
}

.pagination--demo .page-arrow--pre a, .pagination--demo .page-arrow--pre > span{
    margin-right: 15px;
}
.pagination--demo .page-arrow--next a, .pagination--demo .page-arrow--next > span{
    margin-left: 15px;
}
@media (max-width: 767px){
    .pagination--demo .page-arrow--pre a, .pagination--demo .page-arrow--pre > span{
        margin-right: 10px;
    }
    .pagination--demo .page-arrow--next a, .pagination--demo .page-arrow--next > span{
        margin-left: 10px;
    }
}

/* pagination END */


/* 제안쓰기 START */
.demo-detail-title{
    color: #191919;
    font-size: 36px;
    font-weight: 700;
    line-height: 1.2;
    border-bottom: 2px solid #b6c1cc;
    padding-bottom: 36px;
    margin-bottom: 36px;
}
@media (min-width: 768px) and (max-width: 991px){
    .demo-detail-title{
        width: 100%;
        font-size: 24px;
    }
}
@media (max-width: 767px){
    .demo-detail-title{
        font-size: 24px;
        padding-bottom: 14px;
        margin-top: 0;
        margin-bottom: 10px;
        text-align: center;
    }
}
.demo-page-title{
    color: #191919;
    font-size: 36px;
    font-weight: 700;
    line-height: 1.2;
    border-bottom: 2px solid #b6c1cc;
    padding-bottom: 36px;
    margin-bottom: 24px;
}
@media (max-width: 767px){
    .demo-page-title{
        font-size: 24px;
        text-align: center;
        margin-top: 0;
        margin-bottom: 0;
        padding-bottom: 20px;
        border: none;
    }
}
.detail-title{
    margin-top: 0;
    color: #191919;
    font-weight: 700;
    font-size: 26px;
    line-height: 1.5;
}
@media (max-width: 767px){
    .detail-title{
        font-size: 20px;
    }
}
.demo-content{
    float: left;
    width: 75%
}
.demo-content--hostory{
    margin-bottom: 350px;
}
@media (max-width: 767px){
    .demo-content--hostory{
        margin-bottom: 50px;
    }
    .demo-content{
        float: inherit;
        width: 100%;
    }
}

.demo-side{
    float: left;
    width: 25%;
    padding-left: 32px;
}
@media (max-width: 767px){
    .demo-side{
        display: none;
    }
}

.detail-title-container{
    float: left;
    width: 75%;
}
@media (max-width: 991px){
    .detail-title-container{
        width: 100%;
    }

}
@media (max-width: 767px){
    .detail-title-container{
        float: inherit;
    }
}
.title-box{
    padding-bottom: 36px;
    border-bottom: 1px solid #b6c1cc;
}
@media (max-width: 767px){
    .title-box{
        padding-bottom: 15px;
    }
}
.contents-box{
    padding: 35px 24px;
}
.contents-box--discuss{
    padding: 0 0 35px;
}
.contents-box .contents-box__contents,
.contents-box .contents-box__contents p{
    color: #43484c;
    font-size: 16px;
    line-height: 1.8;
}
@media (min-width: 768px) and (max-width: 991px){
    .contents-box{
        padding: 15px;
    }
}

@media (max-width: 767px){
    .contents-box{
        padding: 10px;
    }
    .contents-box.contents-box--discuss{
        padding: 0;
    }
}
.thumbs-ups{
    float: right;
    margin-bottom: 16px;
}
.thumbs-ups::after {
    display: block;
    content: "";
    clear: both;
}
@media (max-width: 767px){
    .thumbs-ups{
        float: inherit;
        margin-bottom: 16px;
    }
}

.thumbs-up-btn{
    float: left;

    width: 96px;
    height: 32px;
    font-size: 14px;
    color: #ff5600;

    padding: 6px;
    text-align: center;
    display: inline-block;
    border: none;
    margin-right: -7px;
    background-image: url(/images/thumbs-up-bg.png);


    background-repeat: no-repeat;
    background-position: center center;
    -webkit-background-size: contain;
    -moz-background-size: contain;
    -o-background-size: contain;
    background-size: contain;
}
.thumbs-up-btn.active{
    background-image: url(/images/thumbs-up-bg-active.png);
    color: #fffefe;

}
.answer-status{
    float: left;
    color: #ff5600;
    padding: 5px;
    text-align: center;
    width: 101px;
    height: 32px;
    background-image: url(/images/thumbs-up-bg-2.png);

    background-repeat: no-repeat;
    background-position: center center;
    -webkit-background-size: contain;
    -moz-background-size: contain;
    -o-background-size: contain;
    background-size: contain;
}
.answer-status.active{
    color: #fff;
    background-image: url(/images/thumbs-up-bg-2-active.png);
}



.title-author{
    position: relative;
    padding-left: 50px;
    float: left;
}
.title-author__name{
    font-size: 14px;
    color: #727a7f;
    margin-top: 3px;
    margin-bottom: 0; 
}

.title-author__date{
    font-size: 14px;
    color: #727a7f;
    margin-top: 0;
    margin-bottom: 0;
}






.attached-file-box{
    margin-top: 40px;
    padding: 25px 25px 16px;
    width: 100%;
    -webkit-border-radius: 4px; 
    -moz-border-radius: 4px; 
    border-radius: 4px; 
    border: 1px solid #b6c1cc;
}
.attached-file-box-title{
    color: #191919;
    margin-top: 0;
    font-size: 14px;
    font-weight: 700;
}
.attached-file-box-ul{
    list-style: none;
    padding-left: 0;
    margin-bottom: 0;
}
.attached-file-box-ul li{
    margin-bottom: 5px;
}
@media (max-width: 767px){
    .attached-file-box{
        margin-top: 20px;
        margin-bottom: 10px;
    }
}
.panel-group .panel-demo{
    margin-top: -1px;
    -webkit-border-radius: 0; 
    -moz-border-radius: 0; 
    position: relative;
    border-radius: 0; 
    border-color: #b6c1cc;
    border-left: none;
    border-right: none;

    -moz-box-shadow:    none;
    -webkit-box-shadow: none;
    box-shadow:         none;
}
.panel-group .panel.panel-demo+.panel.panel-demo{
    margin-top: -1px;
}
.panel-default .panel-heading--demo{
    padding-top: 20px;
    padding-bottom: 0;
    background-color: #fff;
}
.panel-default .panel-heading--demo .demo-collapse-btn{
    display: block;
}
@media (max-width: 767px){
    .panel-default .panel-heading--demo{
        padding-top: 10px;
    }
}
.feedback-name{
    padding-top: 5px;
    margin-left: 10px;
    float: left;
    display: inline-block;
    color: #727a7f;
    font-size: 14px;
}
.feedback-date{
    padding-top: 5px;
    margin-left: 20px;
    float: left;
    display: inline-block;
    color: #727a7f;
    font-size: 14px;
}
.feedback-arrow-group{
    position: absolute;
    top: 25px;
    right: 10px;
}
.feedback-arrow-group i{
    font-size: 20px;
}
@media (max-width: 767px){
    .feedback-arrow-group{
        top: 15px;
    }
}
.feedback-title-wrapper{
    display: inline-block;
    color: #727a7f;
    padding-bottom: 14px;
}
@media (max-width: 767px){
    .feedback-title-wrapper{
        padding-bottom: 5px;
    }
}
.collapse-demo{
    position: relative;
    display: block;
}
.collapse-demo.in .panel-body{
    display: block;
}
.collapse-demo + .feedback-arrow-group .xi-angle-down{
    display: block;
}
.collapse-demo + .feedback-arrow-group .xi-angle-up{
    display: none;
}
.collapse-demo.in + .feedback-arrow-group .xi-angle-down{
    display: none;
}
.collapse-demo.in + .feedback-arrow-group .xi-angle-up{
    display: block;
}

.collapse-demo.collapsing .panel-body{
    display: block;
}
.collapse-demo .feedback-arrow-group{
    display: inline-block !important;
}
.collapse-demo.collapsing .feedback-arrow-group{
    display: inline-block !important;
}
.collapse-demo .panel-body{
    display: none;
    border-top: 1px solid #b6c1cc;
}
.relative-links{
    margin-top: 30px;
}
.relative-title{
    color: #191919;
    font-size: 16px;
    font-weight: 700;
}
.relative-link:hover{
    color: #1e60b1;
}
.relative-link{
    color: #43484c;
}
.relative-link-ul{
    list-style: none;
    padding-left: 28px;
}
.relative-link-li{
    padding-bottom: 10px;
}


/* 제안쓰기 END */

/* progress bar START */
.progress-bg{
    border: 1px solid #b6c1cc;
    background-color: #eff3f6;
    height: 24px;
    width: 100%;
    position: relative;
}
.progress-bg--discussion{
    border: none;
    height: auto;

}
.progress-bg--discussion::after {
    display: block;
    content: "";
    clear: both;
}
.progress-bg--discussion .progress-fill-bar{
    float: left;
    height: 40px;
}
.progress-thumb{
    position: absolute;
}
.progress-thumb-img{
    margin-left: -6px;
}
.progress-fill-bar{
    height: 22px;
    display: inline-block;
    background-color: #ff5600;
    background-image: url(/images/progress-pattern.png)
}
.progress-fill-bar--blue{
    background-image: url(/images/blue-pattern-bg.png)
}
.progress-fill-bar--grey{
    background-image: url(/images/grey-pattern-bg.png)
}
.progress-fill-bar--red{
    background-image: url(/images/red-pattern-bg.png)
}
.demo-progress .progress-step-1{
    display: inline-block;
    font-size: 12px;
    color: #b6c1cc;
    height: 22px;
    position: absolute;
    padding-top: 3px;
    top: 0;
}
.demo-progress .progress-step-1 .progress-step-1-text{
    margin-left: -28px;
}
.progress-step-1-line{
    position: absolute;
    top: 0;
    width: 1px;
    height: 22px;
    background-color: #b6c1cc;
}
.demo-progress .progress-step-2{
    font-size: 12px;
    color: #b6c1cc;
    position: absolute;
    top: 0;
    right: 0;
    padding-top: 3px;
    padding-right: 10px;
}
.progress-info{
    margin-top: 10px;
}
.discuss-status-box__title{
    color: #43484c;
    font-size: 20px;
}
.discuss-progress-info{
    margin-bottom: 36px;
}
.discuss-progress-info p{
    margin-top: 4px;
    margin-bottom: 0;
}
@media (max-width: 767px){
    .discuss-progress-info{
        margin-bottom: 10px;
    }
}
.progress-info__left{
    float: left;
}
.progress-info__right{
    float: right;
}

.progress-info__count{
    color: #727a7f;
}
.progress-info__count i{
    font-weight: 700;
}
.progress-info__text{
    font-size: 14px;
}
.progress-blue{
    color: #1e60b1;
}
.progress-grey{
    color: #727a7f;
}
.progress-red{
    color: #cf2239;
}

.progress-info__blue{
    float: left;
    border-right: 1px solid #1e60b1;
    color: #1e60b1;
    text-align: right;
    padding-right: 7px;
    padding-top: 6px;
}
@media (max-width: 767px){
    .progress-info__blue{
        min-width: 20%;
    }
}
.progress-info__grey{
    float: left;
    border-right: 1px solid #727a7f;
    padding-right: 7px;
    color: #727a7f;
    text-align: right;
    padding-right: 7px;
    padding-top: 6px;
}
@media (max-width: 767px){
    .progress-info__grey{
        min-width: 20%;
    }
}
.progress-info__red{
    float: left;
    border-right: 1px solid #cf2239;
    padding-right: 7px;
    color: #cf2239;
    text-align: right;
    padding-right: 7px;
    padding-top: 6px;
}   
@media (max-width: 767px){
    .progress-info__red{
        min-width: 20%;
    }
}
.discuss-status-box{
    margin-top: 50px;
    padding: 30px 25px;
    border: 1px solid #b6c1cc;

    -webkit-border-radius: 4px; 
    -moz-border-radius: 4px; 
    border-radius: 4px; 
}
@media (max-width: 767px){
    .discuss-status-box{
        padding: 15px 10px;
    }
}
.discuss-status-box__buttons{
    text-align: center;
}
@media (max-width: 767px){
    .discuss-status-box__buttons{
        display: none;
    }
}
.discuss-status-box__title{
    margin-bottom: 33px;
}
@media (max-width: 767px){
    .discuss-status-box__title{
        margin-bottom: 15px;
    }
}
/* progress bar END */


/* form START */
.form-input-container{
    padding-left: 24px;
    padding-right: 24px;
    border-bottom: 2px solid #b6c1cc;
    margin-bottom: 20px;
    padding-bottom: 20px;
}
.form-input-container--history{
    padding-left: 0;
    padding-right: 0;
    padding-bottom: 0;
}
.form-warning-text{
    margin-bottom: 50px;
}
.demo-form-label{
    color: #191919;
    font-size: 20px;
    font-weight: 700;
    line-height: 1.5;
    margin-bottom: 14px;
    margin-top: 0;
}
@media (max-width: 767px){
    .demo-form-label{
        font-size: 16px;
        margin-bottom: 10px;
    }
}
.demo-form-label--check{
    margin-bottom: 0;
}

.demo-help-error{
    margin-top: 10px;
    font-size: 12px;
    font-weight: 400;
    color: #cf2239;
    position: absolute;
}

.check-required{
    color: #0ccbd2;
    font-size: 14px;
}

.to-list-btns{
    margin-top: 40px;
    padding-top: 40px;
    border-top: 1px solid #b6c1cc;
}
/* form END */


/* button START */
.demo-submit-btn{
    float: left;
    padding: 13px;
    color: #ffffff;
    font-size: 16px;
    display: inline-block;
    -webkit-border-radius: 4px; 
    -moz-border-radius: 4px; 
    border-radius: 4px; 
    width: 121px;
    height: 50px;
    -moz-box-shadow:    0 2px 0 rgba(0, 0, 0, 0.15);
    -webkit-box-shadow: 0 2px 0 rgba(0, 0, 0, 0.15);
    box-shadow:         0 2px 0 rgba(0, 0, 0, 0.15);
}
@media (max-width: 767px){
    .demo-submit-btn{
        padding: 7px;
        width: auto;
        width: 80px;
        font-size: 14px;
        height: 42px;
    }
}

.btn-blue{
    background-color: #1e60b1;
    color: #fff;
}  
.btn-blue:hover, .btn-blue:focus{
    background-color: #184c8c;
    color: #fff;
}
.btn-grey{
    background-color: #727a7f;
    color: #fff;
}
.btn-grey:hover, .btn-grey:focus{
    background-color: #555b5f;
    color: #fff;
}
.btn-red{
    background-color: #cf2239;
    color: #fff;
}
.btn-red:hover, .btn-red:focus{
    background-color: #af192d;
    color: #fff;
}
.btn-white{
    color: #1e60b1;
    border: 1px solid #1e60b1;
    background-color: #ffffff;
}
.btn-white:hover, .btn-white:focus{
    background-color: #1e60b1;
    color: #fff;
}

.cancel-btn{
    background-color: #727a7f;
    color: #fff;
    -webkit-border-radius: 4px !important; 
    -moz-border-radius: 4px; 
    border-radius: 4px; 
    margin-right: 10px;
}
.cancel-btn:hover, .cancel-btn:focus{
    background-color: #43484c;
    color: #fff;
}

.demo-submit-btn--submit{
    background-color: #1e60b1;
}
.demo-submit-btn--submit:hover, .demo-submit-btn--submit:focus{
    background-color: #184c8c;
}
.demo-btn{
    font-size: 20px;
}
@media (max-width: 991px){
    .demo-btn{
        font-size: 16px;
    }
}
.d-btn{
    -moz-box-shadow:    0 2px 0 rgba(0, 0, 0, 0.15);
    -webkit-box-shadow: 0 2px 0 rgba(0, 0, 0, 0.15);
    box-shadow:         0 2px 0 rgba(0, 0, 0, 0.15);
    -webkit-border-radius: 4px; 
    -moz-border-radius: 4px; 
    border-radius: 4px; 
    min-width: 95px;
    display: inline-block;
    padding: 11px;
    height: 51px;
    font-size: 16px;
}
.discuss-btn-group{
    margin-top: 15px;
}
.discuss-btn-group .middle-btn-wrapper{
    float: left;
}
@media (max-width: 767px){
    .discuss-btn-group{
        margin-right: -1px;
        margin-left: -1px;
    }
    .discuss-btn-group .middle-btn-wrapper{
        width: 33.33%;
        padding-left: 1px;
        padding-right: 1px;
    }
    .discuss-btn-group .middle-btn-wrapper .d-btn--discuss{
        width: 100%;
        padding: 10px 7px;
        height: auto;
    }
}
.d-btn--discuss{
    padding: 11px 30px;
    margin-right: 5px;
}
@media (max-width: 767px){
    .d-btn--discuss{
        padding: 5px 7px;
        font-size: 14px;
        margin-right: 0;
        width: 33%;
    }
}
.demo-btn--primary{
    background-color: #1e60b1;
    -moz-box-shadow:    0 2px 0 rgba(0, 0, 0, 0.15);
    -webkit-box-shadow: 0 2px 0 rgba(0, 0, 0, 0.15);
    box-shadow:         0 2px 0 rgba(0, 0, 0, 0.15);
    -webkit-border-radius: 4px; 
    -moz-border-radius: 4px; 
    border-radius: 4px; 
    color: #fff;
    height: 51px;
    padding: 11px;
}
.demo-btn--primary:hover, .demo-btn--primary:focus{
    background-color: #184c8c;
    color: #fff;
}

.btn-side{
    margin-top: 16px;
    width: 100%
}

.white-btn{
    height: 51px;
    color: #1e60b1;
    font-size: 16px;
    padding: 14px;
    background-color: #ffffff;
    border: 1px solid #1e60b1;
}
.white-btn:hover, .white-btn:focus{
    background-color: #1e60b1;
    color: #fff;
}
.d-btn-lg{
    height: 71px;
    font-size: 24px;
    padding: 17px;
}
.btn-more{
    width: 161px;
}
.btn-sign{
    width: 100%;
    font-size: 20px;
    padding: 11px;
}
.next-btn{
    margin-top: 20px;
}
.content-thumbs-up-btn{
    margin-top: 30px;
    color: #727a7f;
    font-size: 16px;
    display: inline-block;
    padding: 3px 9px 4px;
    margin-bottom: 7px;

    border: 1px solid #b6c1cc;

    -webkit-border-radius: 4px; 
    -moz-border-radius: 4px; 
    border-radius: 4px; 

    -moz-box-shadow:    0 2px 0 rgba(0, 0, 0, 0.15);
    -webkit-box-shadow: 0 2px 0 rgba(0, 0, 0, 0.15);
    box-shadow:         0 2px 0 rgba(0, 0, 0, 0.15);
}
@media (max-width: 767px){
    .d-btn-lg{
        height: 51px;
        font-size: 16px;
        padding: 14px;
    }
}

.scroll-bottom-btn-group{
    display: none;
    position: fixed;
    width: 100%;
    bottom: 0;
    left: 0;
    right: 0;
    background-color: #fff;
    margin-left: -1px;
    margin-right: -1px;
    z-index: 900;
}

.m-bottom-btn-group{
    display: none;
    position: fixed;
    width: 100%;
    bottom: 0;
    left: 0;
    right: 0;
    z-index: 900;
}
.m-bottom-btn-group .d-btn{
    -moz-box-shadow:    none;
    -webkit-box-shadow: none;
    box-shadow:         none;
}
@media (max-width: 767px){
    .m-bottom-btn-group{
        display: block;
    }
}
#bottom-discuss-btn{
    display: none;
}
.scroll-bottom-btn-group .middle-btn-wrapper{
    float: left;
    padding-left: 1px;
    padding-right: 1px;
    padding-top: 5px;
    padding-bottom: 1px;
}
.scroll-bottom-btn-group .middle-btn-wrapper .btn{
    width: 100%;
    -moz-box-shadow:    none;
    -webkit-box-shadow: none;
    box-shadow:         none;
}
@media (max-width: 767px){
    .scroll-bottom-btn-group{
        margin-left: 0;
        margin-right: 0;
    }
    .scroll-bottom-btn-group .middle-btn-wrapper .btn{
        height: auto;
        font-size: 15px;
        padding: 9px;
    }
}
.middle-btn-wrapper--ok{
    width: 30%;
}
.middle-btn-wrapper--etc{
    width: 40%;
}
.middle-btn-wrapper--no{
    width: 30%;
}

.btn-group-height-div{
    display: none;
    height: 47px;
}
/* button END */


/* comment START */

.demo-comment-form{
    position: relative;
    margin-top: 80px;
    padding-left: 78px;
}
.discussion-comment-form{
    border: 1px solid #b6c1cc;
    margin-top: 0;
    padding: 22px;

    -webkit-border-radius: 4px; 
    -moz-border-radius: 4px; 
    border-radius: 4px; 
}
.discussion-comment-form .demo-comment-form{
    margin-top: 0;
}

.demo-comment-textarea{
    width: 100%;
}

.comment-action-group{
    margin-top: 16px;
}
@media (max-width: 767px){
    .demo-comment-form{
        margin-top: 30px;
        padding-left: 60px;
    }
}

.demo-comments-container{
    margin-top: 60px;
}
.demo-comments-top{
    border-bottom: 2px solid #b6c1cc;
}
.comment-count-text{
    color: #b6c1cc;
    font-size: 14px;
    display: inline-block;
    width: 100px;
    text-align: right;
    margin-top: 10px;
}
.comments-count{
    font-size: 16px;
    color: #727a7f;
    margin-bottom: 17px;
}
.comment-sorting-ul{
    list-style: none;
    display: inline-block;
    padding-left: 0;
}
.comment-sorting-li{
    float: left;
    padding: 0 20px;
}
.comment-sorting-li.active .sorting-link{
    color: #1e60b1;
    border-color: #1e60b1;
    font-weight: 700;
}
.sorting-link{
    padding: 16px 9px;
    color: #727a7f;
    border-bottom: 4px solid transparent;
}
@media (max-width: 767px){
    .sorting-link{
        padding: 12px 9px;
        border-bottom: 2px solid transparent;
    }
}


.demo-comments{
    list-style: none;
    padding-left: 24px;
    margin-bottom: 0;
}
.comment-content{
    padding-right: 24px;
    border-bottom: 1px solid #b6c1cc;
    padding-bottom: 15px;
}
@media (max-width: 767px){
    .demo-comments{
        padding-left: 10px;
    }
    .comment-content{
        padding-right: 10px;
        padding-bottom: 4px;
    }
}

.comment-li{
    padding-top: 23px;
    position: relative;
    padding-left: 58px;
}
@media (max-width: 767px){
    .comment-li{
        padding-top: 15px;
    }
}

.comment-date-wrapper{
    float: left;
}
.comment-likes-count{
    float: right;
}
.comment-end-line{
    margin-top: -1px;
    width: 100%;
    height: 2px;
    background-color: #b6c1cc;
}
.comment-name{
    font-size: 14px;
    padding-top: 2px;
    margin-bottom: 0;
}
.comment-time{
    color: #727a7f;
    font-size: 14px;
    margin: 0;
}
@media (max-width: 767px){
    .comment-name{
        padding-top: 2px;
    }
}

.comment-thumbs-count{
    color: #727a7f;
}
.comment-content-text{
    color: #43484c;
    font-size: 14px;
    line-height: 1.8;
}
.show-more-container{
    margin-top: 40px;
    margin-bottom: 40px;
}
@media (max-width: 767px){
    .show-more-container{
        margin-top: 24px;
        margin-bottom: 20px;
    }
}
.demo-comments-top__comment-count{
    width: 30%;
    float: left;
}
.demo-comments-top__tabs{
    width: 70%;
    float: left;
    text-align: right;
}
.demo-comments-top__tabs--discuss{
    width: 100%;
    float: none;
}
.demo-comments-top__tabs--discuss .sorting-link{
    padding: 11px 9px;
}
@media (max-width: 767px){
    .demo-comments-top__comment-count{
        width: 100%;
        float: inherit;
    }
    .demo-comments-top__tabs{
        width: 100%;
        float: inherit;
        text-align: center;
    }
}
.comment-vote-result{
    padding-right: 100px;
    position: relative;
}
.comment-status-wrapper{
    position: absolute;
    right: 0;
    top: 0;
}
@media (max-width: 767px){
    .comment-vote-result{
        padding-right: 0;
    }
    .comment-status-wrapper{
        position: relative;
        text-align: right;
    }
}
/* comment END */

/* side START */
.side-box{
    border: 1px solid #b6c1cc;
    -webkit-border-radius: 4px; 
    -moz-border-radius: 4px; 
    border-radius: 4px; 
    padding: 24px;
    text-align: center;
}
@media (min-width: 992px) and (max-width: 1199px){
    .side-box{
        padding: 20px;
    }
}
@media (max-width: 991px){
    .side-box{
        padding: 12px;
    }
}

.profile-circle{
    margin: 40px auto 10px;
    -webkit-border-radius: 50%; 
    -moz-border-radius: 50%; 
    border-radius: 50%; 
    width: 108px;
    height: 108px;

    background-position: center center;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
}

.bg-img{
    background-position: center center;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
}

.profile-circle--title{
    width: 42px;
    height: 42px;
    position: absolute;
    left: 0;
    margin: 0;
}
.profile-circle--admin-feedback{
    height: 27px;
    width: 27px;
    margin: 0;
    float: left;
    display: inline-block;
}
.profile-circle--comment-form{
    width: 54px;
    height: 54px;
    position: absolute;
    left: 0;
    margin-top: 0;
}
.profile-circle--comment{
    width: 42px;
    height: 42px;
    position: absolute;
    left: 0;
    margin: 0;
}
.profile-circle--mypage{
    width: 144px;
    height: 144px;
}
.profile-name{
    color: #191919;
    font-size: 26px;
    line-height: 1.5;
}

.side-help-text{
    font-size: 16px;
    line-height: 1.8;
    color: #43484c;
}

/* side END */


/* sign up, in START */
.sign-container{
    padding-left: 15px;
    padding-right: 15px;
    max-width: 399px;
    width: 100%;
    margin: 140px auto;

}
.sign-container--modal{
    margin: 40px auto;

}
@media (max-width: 767px){
    .sign-container{
        margin: 10px 0 30px;
        max-width: 100%;
    }
}
.sing-action{
    border-top: 2px solid #b6c1cc;
    margin-top: 40px;
    padding-top: 30px;
}
@media (max-width: 767px){
    .sing-action{
        margin-top: 20px;
        padding-top: 20px;
    }
}
.modal-dialog--demo{
    max-width: 460px;
    width: 100%;

}

/* sign up, in END */

/* my page START */
.mypage-edit-container{
    max-width: 369px;
    width: 100%;
    margin: 40px auto;

}
.mypage-profile-container{
    text-align: center;
    margin-bottom: 20px;
}
.mypage-profile-wrapper{
    position: relative;
    display: inline-block;
    margin-bottom: 10px;
}
.mypage-profile-helper-text{
    color: #727a7f;
    font-size: 12px;
    text-align: left;
    margin-bottom: 3px;
}

.profile-edit-btn{
    display: block;
    width: 48px;
    height: 48px;
    border: 1px solid #b6c1cc;
    background-color: #ffffff;
    padding: 13px;
    position: absolute;
    right: 0;
    bottom: 0;

    -webkit-border-radius: 50%; 
    -moz-border-radius: 50%; 
    border-radius: 50%; 
}
.profile-edit-btn:hover, .profile-edit-btn:focus{
    background-color: #43484c;
}
.profile-edit-btn:hover i, .profile-edit-btn:focus i{
    background-color: #43484c;
    color: #fff;
}
.profile-edit-btn i{
    font-size: 20px;
    color: #43484c;
}
.panel-group--mypage{

}
.panel-group--mypage .panel-mypage{
    border: none;
    -moz-box-shadow:    none;
    -webkit-box-shadow: none;
    box-shadow:         none;
}
.panel-group--mypage .panel-heading--mypage{
    background-color: transparent;
    border: none;
    padding: 0;
}
.panel-group--mypage .panel-mypage .panel-body--mypage{
    border-top: none;
}
.panel-default.panel-mypage>.panel-heading+.panel-collapse.collapse--mypage>.panel-body{
    margin-top: 30px;
    border-top: none;
    padding: 0;
}

.panel-group--mypage .change-password-collapse-btn{
    color: #1e60b1;
    font-size: 16px;
}

/* my page END */


/* input START */
.demo-input{
    height: 50px;
    border-color: #b6c1cc;
}
.form-group--demo{
    margin-bottom: 40px;
}

.form-group--demo--last{
    margin-bottom: 0;
}
.form-help-text{
    color: #727a7f;
    font-size: 16px;
}
.form-help-text--blue{
    color: #1e60b1;
}
.form-group.has-error input{
    border: 2px solid #cf2239;
}
.d-input-lg{
    height: 71px;
    font-size: 24px;
}
.d-input-lg .search-submit-btn{ 
    font-size: 36px;
}
/* input END */



/* main START */
.main-top-search, .top-search{
    margin-top: 20px;
    margin-bottom: 40px;
}
.main-top-search .search-form-group, .top-search .search-form-group{
    margin-bottom: 0;
}
.main-top-search__left, .top-search__left, .top-left{
    width: 67%;
    float: left;
}
.main-top-search__right, .top-search__right, .top-right{
    width: 33%;
    padding-left: 33px;
    float: left;
}
@media (max-width: 767px){
    .main-top-search, .top-search{
        margin-top: 0;
        margin-bottom: 20px;
    }
    .demo-search-top .search-form-group{
        margin-bottom: 15px;;
    }
    .main-top-search__left, .top-search__left{
        width: 100%;
        margin-bottom: 10px;
    }
    .main-top-search__right, .top-search__right{
        padding-left: 0;
        width: 100%;
    }
    .top-left{
        width: 100%;
        margin-bottom: 10px;
    }
    .top-right{
        padding-left: 0;
        width: 100%;
    }
}
.main-card-wrapper, .card-wrapper{
    margin-bottom: 40px;
    padding-bottom: 10px;
    border-bottom: 1px solid #b6c1cc;
}
/* main END */


/* CARD START */

.demo-card-wrapper{
    margin-bottom: 30px;
}
.demo-card__link{
    padding: 25px;
    border: 1px solid #b6c1cc;
    display: block;

    -webkit-border-radius: 4px; 
    -moz-border-radius: 4px; 
    border-radius: 4px; 
}
@media (max-width: 767px){
    .demo-card__link{
        padding: 15px;
    }
}
.demo-card__link:hover, .demo-card__link:focus{
    text-decoration: none;
    display: block;
    background-color: #eff3f6;
}

.demo-card__author{
    position: relative;
    padding-left: 50px;
}
.demo-card__contents{
    height: 130px;
}
.demo-card__title{
    font-size: 20px;
    color: #191919;
    font-weight: 700;
    line-height: 1.5;
    height: 60px;
    overflow: hidden;
}
.demo-card__desc{
    font-size: 16px;
    color: #43484c;
    font-weight: 400;
    line-height: 1.5;
    margin-bottom: 12px;
    max-height: 48px;
    overflow: hidden;
}
.demo-card__info{
    margin-bottom: 4px;
}
.demo-card__info--discussion{
    margin-top: 36px;
}
@media (max-width: 767px){
    .demo-card__info--discussion{
        margin-top: 10px;
    }
}
.demo-card__info__p{
    display: inline-block;
    font-size: 14px;
    margin-bottom: 0;
    color: #727a7f;
    margin-right: 15px;
}
@media (max-width: 767px){
    .demo-card__info__p--m-block{
        display: block;
        margin-top: 5px;
    }
}

.l-img-card-wrapper{
    padding-bottom: 20px;
    margin-bottom: 40px;
    border-bottom: 1px solid #b6c1cc;
}

.l-img-card{
    position: relative;
    padding-left: 30%;
    -webkit-border-radius: 8px; 
    -moz-border-radius: 8px; 
    border-radius: 8px; 
    overflow: hidden;
    border: 1px solid #b6c1cc;
    margin-bottom: 30px;
}
.l-img-card__link:hover, .l-img-card__link:focus{
    text-decoration: none;
    display: block;
    background-color: #eff3f6;
}
.l-img-card__img{
    width: 30%;
    position: absolute;
    height: 100%;
    left: 0;
    top: 0;
    bottom: 0;
}
@media (max-width: 767px){
    .l-img-card{
        padding-left: 0;
        margin-bottom: 15px;
    }
    .l-img-card__img{
        width: 100%;
        position: relative;
    }
}
@media (min-width: 376px) and (max-width: 767px){
    .l-img-card__img{
        height: 280px;
    }    
}
@media (max-width: 320px){
    .l-img-card__img{
        height: 200px;
    }
}   
@media (min-width: 321px) and (max-width: 375px){
    .l-img-card__img{
        height: 250px;
    }
}   

.l-img-card__contents{
    padding: 20px 30px;
}
.l-img-card__status{
    color: #1e60b1;
    font-size: 14px;
}
@media (max-width: 767px){
    .l-img-card__contents{
        padding: 10px 10px;
    }
}
/* CARD END */


/* mobile menu */

.navbar-toggle--demo .demo-toggle--close{
    display: block;
}
.demo-toggle--open{
    display: none;
}
.collapsed .demo-toggle--close{
    display: none;
}
.collapsed .demo-toggle--open{
    display: block;
}
@media (max-width: 767px){
    .navbar{    
        margin-bottom: 14px;
    }
    .navbar, .navbar-collapse{
        border-top: none;
    }
    .demo-collapse{
        padding-left: 0;
        padding-right: 0;
    }
    .navbar-header--demo{
        z-index: 11000;
    }
    .container .demo-collapse{
        position: fixed;
        z-index: 9999;
        top: 0;
        bottom: 0;
        left: 0;
        right: 0;
    
        width: 100%;
        width: 100vw;
        height: 100%;
        height: 100vh;
    
        background-color: #1e60b1;
        opacity: 0.95;
        margin-left: 0;
        margin-right: 0;
    }
    .navbar-toggle--demo{
        position: absolute;
        z-index: 11000;
        right: 0;
        border: none;
        margin-top: 0;
        margin-right: 0;
        margin-bottom: 0;
        padding: 10px;
        color: #fff;
    }
    .navbar-toggle--demo + .navbar-brand--demo{
        color: #fff;
    }
    .navbar-toggle--demo.collapsed{
        color: #43484c;
    }
    .navbar-toggle--demo.collapsed + .navbar-brand--demo{
        color: #191919;
    }
    .navbar-default .navbar-toggle--demo:hover, .navbar-default .navbar-toggle--demo:visited, .navbar-default .navbar-toggle--demo:focus{
        background-color: transparent;
    }
    .demo-nav{
        margin-top: 50px;
        padding-left: 15px;
        padding-right: 15px;
    }
    .nav>li.li-middle{
        display: none;
    }
    .navbar-default .navbar-nav>li{
        padding: 0 15px;
        text-align: left;
    }
    .navbar-default .navbar-nav>li.active>a, .navbar-default .navbar-nav>li.active>a:hover{
        color: #fff;
    }
    .navbar-default .navbar-nav>li>a{
        color: #fff;
        padding-top: 15px;
        padding-bottom: 15px;
        text-align: left;
        font-weight: 400;
    }
    .navbar-default .demo-nav .dropdown:hover .dropdown-toggle{
        color: #fff;
    }
    .navbar-default .demo-nav .nav-li-active-bar{
        display: none;
    }
    .navbar-default .demo-nav .demo-nav-li:hover a, .navbar-default .demo-nav .demo-nav-li:focus a{
        color: #fff;
    }
    .navbar-default .demo-nav .demo-nav-li.active a{
        border-bottom: 2px solid #fff;
    }
    .navbar-default .demo-nav .dropdown-menu{
        background-color: transparent;
        -webkit-box-shadow: none;
        box-shadow: none;
        border: none;
        border-bottom: 1px solid #fff;

        -webkit-border-radius: 0; 
        -moz-border-radius: 0; 
        border-radius: 0; 
    }
    .navbar-default .demo-nav .dropdown-menu a{
        text-align: left;
        padding-left: 30px;
        color: #fff;
        font-weight: 400;
    }
    .navbar-default .demo-nav .dropdown-menu li:hover a{
        color: #fff;
    }
    .demo-collapse .dropdown-menu{
        display: block;
        position: relative;
        float: inherit;
    }
    .demo-collapse .dropdown-menu i{
        display: inline-block;
    }

    .nav-login-m{
        display: block;
        width: 100%;
        position: absolute;
        bottom: 0;
    }
    .nav-login-m-ul{
        list-style: none;
        padding-left: 0;
        margin-bottom: 0;
    }
    .nav-login-m-li{
        float: left;
        width: 50%;
    }
    .nav-login-m-li__link{
        color: #1e60b1;
        display: block;
        font-size: 16px;
        padding: 10px;
        background-color: #ffffff;
        text-align: center;
    }
    .nav-login-m-li__link--last{
        border-left: 1px solid #b6c1cc;
    }
}


/* SNS share START */

.sns-group{
    float: right;
}
.sns-group--left{
    margin-top: 22px;
    float: left;
}
.sns-group--left .sns-btn{
    margin-right: 8px;
    margin-left: 0;
}
.img-box-top{
    padding-bottom: 50px;
}
.sns-group--img-box-top{
    float: none;
    margin-top: 30px;
    width: 100%;
}
.sns-group--img-box-top .sns-btn{
    margin-left: 0;
    margin-right: 8px;
}
@media (max-width: 767px){
    .sns-group--img-box-top{
        margin-top: 0;
    }
}
.sns-btn{
    width: 41px;
    height: 41px;
    font-size: 24px;
    color: #727a7f;
    float: left;
    display: inline-block;
    margin-left: 8px;
    background-color: #eff3f6;
    border: none;
    -webkit-border-radius: 50%; 
    -moz-border-radius: 50%; 
    border-radius: 50%; 
}

.collapse-sns{
    display: block;
    position: relative;
}
.sns-btn--trigger{
    display: none;
}
@media (max-width: 767px){
    .collapse-sns.collapse{
        display: none;
    }
    .collapse-sns.collapse.in{
        display: block;
        z-index: 999;
    }
    .sns-group{
        float: right;
        position: relative;
        width: auto;
        z-index: 999;
    }
    .sns-btn--trigger.collapsed{
        color: #727a7f;
        background-color: #eff3f6;
    }
    .sns-btn--trigger{
        display: block;
        background-color: #ff5600;
        color: #fff;
    }
    .collapse-sns{
        top: 46px;
        position: absolute;
    }
    .sns-btn{
        margin-top: 5px;
    }
    .sns-btn--trigger{
        margin-top: 0;
    }
}
/* SNS share END */


/* img CARD START */
.full-img-card-wrapper{
    margin-top: 40px;
}
.full-img-card-ul{
    list-style: none;
    padding-left: 0;
    margin-left: -15px;
    margin-right: -15px;
}

.full-img-card-ul::after {
    display: block;
    content: "";
    clear: both;
}
.full-img-card-li{
    margin-bottom : 30px;
    width: 50%;
    float: left;
    padding-left: 15px;
    padding-right: 15px;
}
@media (max-width: 991px){
    .full-img-card-ul{
        margin-left: -10px;
        margin-right: -10px;
    }
    .full-img-card-li{
        padding-left: 10px;
        padding-right: 10px;
    }
}
.full-img-card{
    overflow: hidden;

    -webkit-border-radius: 4px; 
    -moz-border-radius: 4px; 
    border-radius: 4px; 
}
.full-img-card__link{
    display: block;
    height: 797px;
}
.full-img-card__title{
    font-size: 24px;
    color: #fff;
    overflow: hidden;
    line-height: 1.5;
}
.full-img-card__bottom-bg{
    position: absolute;
    bottom: 0;
    padding: 100px 30px 30px;

    background-image: url(/images/full-img-bg-gradation.png);

    -webkit-background-size: contain;
    -moz-background-size: contain;
    -o-background-size: contain;
    background-size: contain;
}
.full-img-card__bottom-bg{
    position: absolute;
    bottom: 0;
    padding: 100px 30px 30px;

    background-image: url(/images/full-img-bg-gradation.png);

    -webkit-background-size: contain;
    -moz-background-size: contain;
    -o-background-size: contain;
    background-size: contain;
}


@media (min-width: 768px) and (max-width: 991px){
    .full-img-card-wrapper{
        margin-top: 30px;
    }
    .full-img-card__link{
        display: block;
        height: 480px;
    }
    .full-img-card__title{
        font-size: 20px;
    }

}
@media (min-width: 560px) and (max-width: 767px){
    .full-img-card-wrapper{
        margin-top: 20px;
    }
    .full-img-card__link{
        display: block;
        height: 400px;
    }
    .full-img-card__title{
        font-size: 19px;
    }

}
@media (min-width: 460px) and (max-width: 559px){
    .full-img-card-wrapper{
        margin-top: 20px;
    }
    .full-img-card__link{
        display: block;
        height: 360px;
    }
    .full-img-card__title{
        font-size: 16px;
    }
    .full-img-card__bottom-bg{
        padding: 60px 15px 15px;
    }
}
@media (min-width: 400px) and (max-width: 459px){
    .full-img-card-wrapper{
        margin-top: 20px;
    }
    .full-img-card__link{
        display: block;
        height: 270px;
    }
    .full-img-card__title{
        font-size: 14px;
    }
    .full-img-card__bottom-bg{
        padding: 30px 15px 15px;
    }
}
@media (min-width: 321px) and (max-width: 399px){
    .full-img-card-wrapper{
        margin-top: 20px;
    }
    .full-img-card-li{
        margin-bottom: 20px;
    }
    .full-img-card__link{
        display: block;
        height: 240px;
    }
    .full-img-card__title{
        font-size: 14px;
        margin: 0;
    }
    .full-img-card__bottom-bg{
        padding: 30px 15px 15px;
    }
}   
@media (max-width: 320px){
    .full-img-card-wrapper{
        margin-top: 20px;
    }
    .full-img-card-ul{
        margin-left: -7px;
        margin-right: -7px;
    }
    .full-img-card-li{
        padding-left: 7px;
        padding-right: 7px;
        margin-bottom: 14px;
    }
    .full-img-card__link{
        display: block;
        height: 200px;
    }
    .full-img-card__title{
        font-size: 13px;
        margin: 0;
    }
    .full-img-card__bottom-bg{
        padding: 30px 15px 15px;
    }
}   

.full-img-card__bg{
    position: relative;
    height: 100%;

    background-position: center center;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
}
.full-img-card__link:hover .full-img-card__bg, .full-img-card__link:focus .full-img-card__bg{
    -webkit-filter: grayscale(100%);
    filter: grayscale(100%);
}   

/* img CARD END */


/* terms START */
.section-title{
    padding-bottom: 34px;
    font-size: 26px;
    margin-top: 60px;
    color: #191919;
    font-weight: 700;
    border-bottom: 1px solid #727a7f;
}
.section-title--first{
    margin-top: 30px;
}
.section-title__small{
    color: #727a7f;
    font-size: 16px;
    display: block;
    margin-bottom: 10px;
    font-weight: 400;
}
.term-small-title{  
    font-size: 20px;
    color: #191919;
    font-weight: 700;
    margin-left: 20px;
    margin-top: 35px;
    margin-bottom: 14px;
}
@media (max-width: 767px){
    .term-small-title{  
        margin-left: 10px;
    }
}
.terms-wrapper .normal{
    color: #43484c;
    font-size: 16px;
    margin-left: 20px;
    margin-top: 16px;

}   
@media (max-width: 767px){
    .terms-wrapper .normal{
        margin-left: 10px;
    }   
}
@media (max-width: 767px){
    .circle-ul{
        padding-left: 30px;
    }
}
.circle-ul li{
    font-weight: 700;
}
.number-ul{
    list-style: none;
    margin-top: 10px;
    padding-left: 0;
}
.number-ul li{
    color: #727a7f;
    line-height: 1.8;
    font-weight: 400;
}
/* terms END */